/*Variables*/
/*Mixins*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #292929;
  overflow-x: hidden;
}

a, h1, p, h2, h3, h4, h5, h6 {
  font-family: "rooney-sans", sans-serif;
}

header {
  height: 80px;
  width: 100%;
  overflow-x: hidden;
}
header nav {
  width: 100%;
  height: 100%;
  background-color: #f3f2ef;
  display: grid;
  grid-template-columns: 25% auto 25%;
  overflow: hidden;
}
header nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .logo img {
  height: 45px;
  margin: 0 10px 0 0;
}
header nav .nav-links {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
}
header nav .nav-links a {
  text-decoration: none;
  color: #191919;
  font-weight: bold;
  font-size: 20px;
  transition: ease-in-out 0.1s;
}
header nav .nav-links a:hover {
  color: #60c6e6;
}
header nav .header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .header-icons i {
  margin: 0 10px;
  font-size: 26px;
  color: #191919;
  transition: ease-in-out 0.1s;
}
header nav .header-icons i:hover {
  color: #60c6e6;
}
header #burger {
  display: none;
}

.introduction, .about-intro, .services-intro, .cases-intro, .contact-intro {
  width: 100%;
  height: 80vh;
  background-image: url(../img/SLET.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 40px 0;
}
.introduction a, .about-intro a, .services-intro a, .cases-intro a, .contact-intro a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  width: 15vw;
  font-size: 25px;
  text-shadow: 2px 2px 5px #000;
  transition: ease-in-out 0.2s;
}
.introduction a:hover, .about-intro a:hover, .services-intro a:hover, .cases-intro a:hover, .contact-intro a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
  animation: underlines 2s;
}

.introduction {
  padding: 0;
  height: 85vh;
}
.introduction i, .introduction h1 {
  position: absolute;
  color: #f3f2ef;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  font-size: 120px;
  text-shadow: 2px 2px 5px #000;
  opacity: 0.1;
  transition: 0.2s ease-in-out;
}
.introduction h1 {
  opacity: 1;
  font-size: 52px;
  text-align: center;
  top: 70%;
}
.introduction i:hover {
  opacity: 1;
  cursor: pointer;
}
.introduction #background-vid {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.introduction a {
  position: absolute;
  bottom: 70px;
  text-align: center;
  width: 30%;
}

.title {
  height: 70px;
}
.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
  color: #f3f2ef;
  text-align: center;
  margin: 10px;
  font-size: 48px;
  font-weight: normal;
}

.slideshow {
  width: 100%;
  height: 100%;
}
.slideshow .slide {
  position: relative;
  display: none;
}
.slideshow .slide h1 {
  position: absolute;
  color: #f3f2ef;
  z-index: 6;
  text-align: center;
  width: 100%;
  font-size: 60px;
  text-shadow: 2px 2px 5px #000;
  top: 30%;
  font-weight: normal;
}
.slideshow .slide figcaption {
  display: none;
  position: absolute;
  top: 55%;
  font-size: 32px;
  margin: 1em 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  font-family: "rooney-sans", sans-serif;
  text-shadow: 2px 2px 5px #000;
}
.slideshow .slide-image {
  position: relative;
  display: flex;
  width: 100%;
  margin-block: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  height: 100%;
}
.slideshow .slide-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow .slide.is-active {
  display: inline;
}
.slideshow .fade {
  animation-name: fade;
  animation-duration: 1s;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slideshow .read-dots {
  width: 100%;
  position: absolute;
  top: 175vh;
  height: auto;
  display: flex;
  justify-content: center;
}
.slideshow .read-dots a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  width: 15vw;
  font-size: 25px;
  text-shadow: 2px 2px 5px #000;
  transition: ease-in-out 0.2s;
}
.slideshow .read-dots a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
  animation: underlines 2s;
}
.slideshow .read-dots .dots-container {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.slideshow .read-dots .dot {
  display: inline-block;
  width: 45px;
  height: 45px;
  padding: 0;
  margin: 0 0.5em;
  background-color: #f3f2ef;
  border-radius: 50%;
  transition: 0.2s ease;
  cursor: pointer;
}
.slideshow .read-dots .dot.is-active,
.slideshow .read-dots .dot:hover {
  background-color: #60c6e6;
}

.about {
  width: 100%;
  height: 100%;
  height: 800px;
  background-image: url(../img/about.jpg);
  background-position: center bottom;
  display: flex;
}
.about .about-text {
  color: #f3f2ef;
  padding: 50px;
}
.about .about-text h1 {
  font-size: 60px;
  margin: 10px 0;
  font-weight: normal;
  text-shadow: 2px 2px 5px #000;
}
.about .about-text p {
  font-size: 28px;
  text-shadow: 2px 2px 5px #000;
  margin: 0;
}
.about .about-button {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
.about .about-button a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  margin: 50px;
  transition: ease-in-out 0.2s;
}
.about .about-button a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
  animation: underlines 2s;
}

.services {
  width: 100%;
  height: 100%;
  background-image: url(../img/services.jpg);
  background-position: center;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 70px 0 0 0;
}
.services h3 {
  margin: 0;
  font-size: 42px;
}
.services a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  color: #191919;
  transition: ease-in-out 0.2s;
}
.services a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
  animation: underlines 2s;
}

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f3f2ef;
  height: 75vh;
}
.text-section .text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f3f2ef;
  width: 40%;
  padding: 0 4em;
}
.text-section .text-area h4 {
  font-size: 28px;
  margin: 1em 0 0.5em 0;
}
.text-section .text-area p {
  font-weight: lighter;
}
.text-section .text-area a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  width: 12vw;
  margin: 1em 0;
  transition: ease-in-out 0.2s;
}
.text-section .text-area a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
  animation: underlines 2s;
}
.text-section .video-section {
  width: 60%;
  padding: 0 0 0 4em;
}
.text-section .video-section video {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 20px 2px rgba(0, 0, 0, 0.5);
}

.quote {
  width: 100%;
  height: 100%;
  background-image: url(../img/quote.jpg);
  height: 700px;
  background-position: center -200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #f3f2ef;
}
.quote h5 {
  font-size: 32px;
  margin: 0;
}
.quote p {
  font-style: italic;
  font-size: 18px;
  font-weight: lighter;
}

footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding: 30px 7em;
  background-color: #191919;
  border: 1px solid #a1a1a1;
}
footer div {
  width: 100%;
  color: #f3f2ef;
}
footer .footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-left .footer-links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  height: 70%;
  width: 100%;
}
footer .footer-left h6 {
  font-size: 20px;
  margin: 1px 0;
}
footer .footer-left a {
  color: #f3f2ef;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}
footer .footer-left a:hover {
  color: #60c6e6;
}
footer .footer-left a:nth-of-type(5) {
  margin: 0 0 20px 0;
}
footer .footer-middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin: 1em 0 0 0;
}
footer .footer-middle .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
footer .footer-middle .socials i {
  margin: 0 15px;
  font-size: 40px;
  color: #f3f2ef;
  transition: 0.2s ease-in;
}
footer .footer-middle .socials i:hover {
  color: #60c6e6;
}
footer .footer-middle form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .footer-middle form h5 {
  margin: 50px 0 0 0;
  font-size: 30px;
}
footer .footer-middle form input {
  border-radius: 10px;
  border: none;
  text-align: center;
  padding: 5px 0;
  margin: 0 0 10px 0;
  font-size: 18px;
}
footer .footer-middle form button {
  width: 50%;
  border-radius: 10px;
  border: none;
  padding: 2px 0;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}
footer .footer-middle form button:hover {
  background-color: #60c6e6;
}
footer .footer-middle img {
  width: 5%;
  margin-top: 15px;
}
footer .footer-middle .policy {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin: 20px 0 10px 0;
}
footer .footer-middle .policy a, footer .footer-middle .policy p {
  margin: 0 10px;
  font-family: "rooney-sans", sans-serif;
  text-decoration: none;
  color: #f3f2ef;
  transition: 0.2s ease-in-out;
}
footer .footer-middle .policy a:hover {
  color: #60c6e6;
}
footer .footer-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}
footer .footer-right div {
  margin: 0 0 20px 0;
}
footer .footer-right .navigation, footer .footer-right .kompetencer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
footer .footer-right .navigation h6, footer .footer-right .kompetencer h6 {
  font-size: 20px;
  margin: 0 0;
}
footer .footer-right .navigation a, footer .footer-right .kompetencer a {
  color: #f3f2ef;
  text-decoration: none;
  margin: 1px 0;
  transition: 0.2s ease-in-out;
}
footer .footer-right .navigation a:hover, footer .footer-right .kompetencer a:hover {
  color: #60c6e6;
}

.bottom-footer {
  background-color: #f3f2ef;
  height: 100%;
}
.bottom-footer h6 {
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  font-family: "rooney-sans", sans-serif;
}

.about-intro {
  width: 100%;
  height: 80vh;
  background-image: url(../img/about-bg.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 40px 0;
}

.who {
  height: 120vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
  padding: 2em 10em;
  background-color: #292929;
}
.who .member {
  margin: 1em 2em;
  height: 100%;
}
.who .member img {
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  position: relative;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
.who .member h2, .who .member p {
  color: #f3f2ef;
  font-family: "rooney-sans", sans-serif;
  margin: 5px 0;
  font-weight: lighter;
}

.services-intro {
  background-image: url(../img/services-bg.jpg);
}

.service-list {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
}
.service-list .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3em 0;
}
.service-list .service .service-text {
  width: 90%;
  color: #f3f2ef;
}
.service-list .service .service-text h2 {
  font-size: 25px;
  font-weight: lighter;
  margin: 10px 0;
}
.service-list .service .service-text p {
  margin: 0;
}
.service-list .service .service-text a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  width: 25%;
  font-size: 23px;
  padding: 10px 0;
  margin: 15px 0 0 0;
  transition: ease-in-out 0.2s;
}
.service-list .service .service-text a:hover {
  background-color: #60c6e6;
  color: #191919;
}
.service-list .service img {
  width: 90%;
}

.cases-intro {
  background-image: url(../img/cases-bg.jpg);
  background-position: center right;
}

.cases {
  margin: 1em 0;
}
.cases .case1 .case-text, .cases .case2 .case-text, .cases .case3 .case-text, .cases .case4 .case-text {
  color: #f3f2ef;
}
.cases .case1 .case-text h2, .cases .case2 .case-text h2, .cases .case3 .case-text h2, .cases .case4 .case-text h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}
.cases .case1 .case-text h3, .cases .case2 .case-text h3, .cases .case3 .case-text h3, .cases .case4 .case-text h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: bold;
}
.cases .case1 .case-text p, .cases .case2 .case-text p, .cases .case3 .case-text p, .cases .case4 .case-text p {
  margin: 0;
}
.cases .case1 {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 15%;
  height: 100%;
}
.cases .case1 img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cases .case1 .case-text {
  margin: 0 0 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cases .case2 {
  margin: 2em 0;
}
.cases .case2 img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.cases .case2 .case-text {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
}
.cases .case2 .case-text h2 {
  text-align: center;
}
.cases .combined {
  display: flex;
  justify-content: space-between;
  margin: 10em 5em;
}
.cases .case3, .cases .case4 {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.contact-intro {
  background-image: url(../img/contact-bg.jpg);
  background-position: center right;
}

.contact-form {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 25vh;
}
.contact-form form {
  width: 55%;
  background-color: rgba(243, 242, 239, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-form form .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.contact-form form h1 {
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
}
.contact-form form .inputs {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.contact-form form .inputs input {
  font-size: 20px;
  margin: 3vh 0;
  border: none;
  border-radius: 8px;
  padding: 15px 10px;
  border: #306373 1px solid;
}
.contact-form form label {
  width: 60%;
}
.contact-form form label #besked {
  width: 100%;
  height: 200px;
  font-size: 20px;
  margin: 2vh 0;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: #306373 1px solid;
}
.contact-form form label fieldset {
  border-color: #306373;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  color: #191919;
  font-family: "rooney-sans", sans-serif;
  box-sizing: border-box;
}
.contact-form form label fieldset input:hover, .contact-form form label fieldset label:hover {
  cursor: pointer;
}
.contact-form form label fieldset input[type=checkbox] {
  margin: 0.8em 0 15px 10px;
}
.contact-form form label fieldset label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.contact-form form label input[type=submit] {
  background-color: #306373;
  color: #f3f2ef;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  width: 20%;
  font-size: 18px;
  transition: 0.2s ease-in-out;
  margin-right: auto;
  display: block;
  margin: 0 0 1em auto;
}
.contact-form form label input[type=submit]:hover {
  background-color: #292929;
  cursor: pointer;
}

.blank {
  height: 600px;
}

.thank-you {
  display: block;
  margin: 3em auto;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.thank-you img {
  width: 50%;
  animation: fadeImg 0.5s ease-in-out;
}
.thank-you h1 {
  font-size: 42px;
}
.thank-you p {
  font-size: 20px;
}
.thank-you a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #60c6e6;
  z-index: 3;
  width: 12%;
  padding: 10px 10px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 10px;
  width: 20%;
  text-shadow: 2px 2px 5px #000;
  transition: ease-in-out 0.2s;
}
.thank-you a:hover {
  background-color: #60c6e6;
  color: #191919;
  text-shadow: none;
}
@keyframes fadeImg {
  from {
    transform: translateY(-10%);
    opacity: 0.1;
  }
}

/*MEDIA QUERY FOR TELEFON STARTER HER*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media screen and (max-width: 750px) {
  header {
    width: 100%;
    height: 80px;
  }
  header nav {
    width: 100%;
    height: 100%;
    background-color: #f3f2ef;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav .logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 1em;
    justify-content: flex-end;
    order: 2;
  }
  header nav .logo img {
    height: 60px;
  }
  header nav .logo .finger {
    display: none;
  }
  header nav .nav-links {
    position: absolute;
    right: 0px;
    height: 10em;
    top: 80px;
    background-color: #191919;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    font-family: Bodoni Moda, sans-serif;
    list-style: none;
    margin: 0;
    font-size: 30px;
    text-align: start;
    overflow: hidden;
    padding: 0;
    justify-content: space-around;
  }
  header nav .nav-links li a {
    color: #f3f2ef;
    padding: 0 0 0 2em;
    opacity: 0;
    font-size: 25px;
  }
  header nav .header-icons {
    display: none;
  }
  header nav #burger {
    display: inline;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
    order: 1;
    justify-self: start;
  }
  header nav #burger div {
    width: 30px;
    height: 4px;
    background-color: rgb(19, 19, 19);
    margin: 7px;
    transition: all 0.3s ease;
  }
  header nav .nav-active {
    transform: translateX(0%);
    z-index: 2;
  }
  header nav .a-active {
    transform: translateX(0%);
    z-index: 2;
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  @keyframes navLinkUnderline {
    from {
      border-bottom: solid 2px #f3f2ef;
      transform: translateX(-100%);
      width: 80%;
    }
    to {
      border-bottom: solid 2px #f3f2ef;
      transform: translateX(0%);
      width: 80%;
    }
  }
  header nav .toggle .line1 {
    transform: rotate(-45deg) translate(-10px, 5px);
  }
  header nav .toggle .line2 {
    opacity: 0;
  }
  header nav .toggle .line3 {
    transform: rotate(45deg) translate(-10px, -5px);
  }
  .introduction, .about-intro, .services-intro, .cases-intro {
    width: 100%;
    height: 500px;
    background-image: url(../img/SLET.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 40px 0;
  }
  .introduction a, .about-intro a, .services-intro a, .cases-intro a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    text-shadow: 2px 2px 5px #000;
  }
  .introduction i, .about-intro i, .services-intro i, .cases-intro i {
    font-size: 90px;
  }
  .introduction h1, .about-intro h1, .services-intro h1, .cases-intro h1 {
    font-size: 25px;
    top: 63%;
  }
  .title {
    width: 100%;
    height: 100%;
    background-color: #292929;
  }
  .title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
    color: #f3f2ef;
    text-align: center;
    margin: 10px;
    font-size: 36px;
    font-weight: normal;
  }
  .slideshow {
    width: 100%;
    height: 100%;
  }
  .slideshow .slide {
    position: relative;
    display: none;
  }
  .slideshow .slide h1 {
    font-size: 40px;
    text-align: center;
    width: 100%;
    top: 25%;
  }
  .slideshow .slide figcaption {
    font-size: 22px;
    top: 45%;
  }
  .slideshow .slide-image {
    position: relative;
    display: flex;
    width: 100%;
    margin-block: 0;
    -webkit-margin-start: 0;
            margin-inline-start: 0;
    height: 100%;
  }
  .slideshow .slide-image img {
    max-width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 600px;
  }
  .slideshow .slide.is-active {
    display: inline;
  }
  .slideshow .read-dots {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 1050px;
    height: auto;
  }
  .slideshow .read-dots a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    text-shadow: 2px 2px 5px #000;
  }
  .slideshow .read-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-shadow: 2px 2px 5px #000;
  }
  .slideshow .dots-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    top: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .slideshow .dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0.5em;
    background-color: #f3f2ef;
    border-radius: 50%;
    transition: 0.2s ease;
    cursor: pointer;
  }
  .slideshow .dot.is-active,
  .slideshow .dot:hover {
    background-color: #60c6e6;
  }
  .slideshow .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .about {
    width: 100%;
    height: 100%;
    height: 500px;
    background-image: url(../img/about.jpg);
    -o-object-fit: contain;
       object-fit: contain;
    background-position: center;
    background-size: 270%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 0;
  }
  .about .about-text {
    padding: 0;
    text-align: center;
    margin: 15em 0 0 0;
  }
  .about .about-text h1 {
    font-size: 40px;
  }
  .about .about-text p {
    font-size: 22px;
  }
  .about .about-button {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .about .about-button a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    text-shadow: 2px 2px 5px #000;
  }
  .services {
    width: 100%;
    height: 100%;
    background-image: url(../img/services.jpg);
    height: 300px;
    background-position: center;
    background-size: 400% 100%;
    -o-object-fit: cover;
       object-fit: cover;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .services h3 {
    margin: 0;
    margin: 0 0;
    font-size: 40px;
    margin: 0;
    position: absolute;
  }
  .services a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    color: #191919;
    margin: 8em 0 0 0;
  }
  .text-section {
    width: 100%;
    height: 100%;
    color: #f3f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .text-section h4 {
    font-size: 25px;
    margin: 1em 10px 1em 10px;
    text-align: center;
  }
  .text-section p {
    font-size: 16px;
    line-height: 25px;
    margin: 0 5px;
    text-align: center;
  }
  .text-section a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    color: #f3f2ef;
    margin: 1em 0;
  }
  .quote {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/quote.jpg);
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    background-size: 200% 100%;
  }
  .quote h5 {
    font-size: 25px;
    margin: 1em 5px 1em 5px;
    text-align: center;
    color: #f3f2ef;
    text-shadow: 2px 2px 5px #000;
  }
  .quote p {
    font-size: 16px;
    line-height: 25px;
    margin: 0 15px;
    text-align: center;
    color: #f3f2ef;
    font-style: italic;
    text-shadow: 2px 2px 5px #000;
  }
  footer {
    border: #f3f2ef 1px solid;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  footer .footer-left {
    order: 1;
    padding: 0 0 0 3em;
  }
  footer .footer-left h6 {
    color: #f3f2ef;
    font-size: 24px;
    font-weight: normal;
    margin: 2em 0 0.5em 0;
  }
  footer .footer-left .footer-links {
    display: flex;
    flex-direction: column;
  }
  footer .footer-left .footer-links a {
    margin: 0 0 1em 0;
    color: #f3f2ef;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
  }
  footer .footer-middle {
    order: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4em 0 0 0;
  }
  footer .footer-middle .socials a {
    color: #f3f2ef;
    font-size: 32px;
    margin: 0 10px;
  }
  footer .footer-middle form {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  footer .footer-middle form h5 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
    color: #f3f2ef;
    font-weight: lighter;
  }
  footer .footer-middle form input {
    border: none;
    font-size: 22px;
    width: 75%;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    background-color: #f3f2ef;
  }
  footer .footer-middle form button {
    font-size: 22px;
    width: 35%;
    padding: 3px 10px;
    border-radius: 10px;
    border: none;
    background-color: #f3f2ef;
    margin: 15px 0 0 0;
    color: #303030;
  }
  footer .footer-middle img {
    width: 15%;
    margin: 20px 0;
  }
  footer .footer-middle .policy {
    color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  footer .footer-middle .policy p {
    font-size: 20px;
    margin: 1em 0;
  }
  footer .footer-middle .policy a {
    text-decoration: none;
    color: #f3f2ef;
    margin: 5px 0;
  }
  footer .footer-right {
    order: 2;
    padding: 0 0 0 3em;
    overflow-x: hidden;
  }
  footer .footer-right .navigation, footer .footer-right .kompetencer {
    display: flex;
    flex-direction: column;
  }
  footer .footer-right .navigation h6, footer .footer-right .kompetencer h6 {
    color: #f3f2ef;
    font-size: 24px;
    font-weight: normal;
    margin: 2em 0 0.5em 0;
  }
  footer .footer-right .navigation a, footer .footer-right .kompetencer a {
    margin: 0 0 10px 0;
    color: #f3f2ef;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
  }
  .bottom-footer {
    text-align: center;
    color: #191919;
    background-color: #f3f2ef;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .bottom-footer h6 {
    margin: 0;
    font-size: 16px;
  }
  .about-intro {
    background-image: url(../img/about-bg.jpg);
  }
  .who {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #292929;
    width: 100%;
    padding: 0;
  }
  .who .member {
    height: 100%;
    width: 90%;
  }
  .who .member img {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
  }
  .who .member h2, .who .member p {
    color: #f3f2ef;
    font-family: "rooney-sans", sans-serif;
    margin: 5px 0;
    font-weight: lighter;
  }
  .services-intro {
    background-image: url(../img/services-bg.jpg);
  }
  .service-list {
    width: 100%;
    height: 100%;
    display: inline;
  }
  .service-list .service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
  }
  .service-list .service .service-text {
    width: 90%;
    color: #f3f2ef;
  }
  .service-list .service .service-text h2 {
    font-size: 25px;
    font-weight: lighter;
    margin: 10px 0;
  }
  .service-list .service .service-text p {
    margin: 0;
  }
  .service-list .service .service-text a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #60c6e6;
    z-index: 3;
    width: 12%;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    width: 40%;
    font-size: 20px;
    padding: 5px 0;
    margin: 10px 0 0 0;
    transition: ease-in-out 0.2s;
  }
  .service-list .service .service-text a:hover {
    background-color: #60c6e6;
    color: #191919;
  }
  .service-list .service img {
    width: 90%;
  }
  .cases-intro {
    background-image: url(../img/cases-bg.jpg);
    background-position: center right;
  }
  .cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
  }
  .cases .case1, .cases .case2, .cases .case3, .cases .case4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    color: #f3f2ef;
    margin: 0 0 4em 0;
  }
  .cases .case1 img, .cases .case2 img, .cases .case3 img, .cases .case4 img {
    width: 100%;
    height: auto;
  }
  .cases .case1 .case-text, .cases .case2 .case-text, .cases .case3 .case-text, .cases .case4 .case-text {
    margin: 0;
  }
  .cases .case1 .case-text h2, .cases .case2 .case-text h2, .cases .case3 .case-text h2, .cases .case4 .case-text h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    text-align: start;
  }
  .cases .case1 .case-text h3, .cases .case2 .case-text h3, .cases .case3 .case-text h3, .cases .case4 .case-text h3 {
    font-size: 20px;
    margin: 20px 0 10px 0;
    font-weight: bold;
  }
  .cases .case1 .case-text p, .cases .case2 .case-text p, .cases .case3 .case-text p, .cases .case4 .case-text p {
    margin: 0;
  }
  .cases .combined {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f3f2ef;
    margin: 0 0 4em 0;
  }
  .contact-form form {
    width: 100%;
  }
  .contact-form form .inputs {
    width: 80%;
    flex-direction: column;
  }
  .contact-form form label {
    width: 80%;
  }
  .contact-form form label input[type=submit] {
    width: 100%;
    margin: 0 auto 1em auto;
  }
  .blank {
    height: 800px;
  }
  .thank-you {
    width: 90%;
  }
  .thank-you img {
    width: 50%;
  }
  .thank-you h1 {
    font-size: 32px;
    text-align: center;
  }
  .thank-you p {
    text-align: center;
    font-size: 20px;
  }
  .thank-you a {
    width: 60%;
  }
  .text-section {
    margin: 70px 0 0 0;
  }
  .text-section .video-section {
    width: 100%;
    padding: 0;
  }
  .text-section .text-area {
    width: 100%;
    padding: 0;
  }
  .text-section .text-area a {
    width: 50%;
  }
}
@media screen and (max-width: 1400px) and (min-width: 750px) {
  .contact-form form {
    width: 70%;
  }
  .contact-form form .inputs {
    width: 70%;
  }
  .contact-form form label {
    width: 70%;
  }
  .who {
    height: 400vh;
  }
}/*# sourceMappingURL=style.css.map */