@use 'partial';

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: partial.$dark;
}

.site {
    @include partial.site-grid($header: 80px, $sct1: 85vh, $sct2: 10vh, $sct3: 30vh, $sct4: 65vh, $sct5: 45vh);

    section {
      height: 100%;
    }
}

header {
    background-color: partial.$light;
    height: 100%;
    width: 100%;

    nav {
        @include partial.nav-grid($col1: 20%, $col2: auto);
        background-color: partial.$light;
        height: 100%;
        
        .logo {
            @include partial.center($center: center, $align:center);

            .finger {
              height: 70px;
              margin: 0 10px;
            }

            img {
                width: auto;
                height: 75px;
            }
        }

        .nav-links {
            list-style: none;
            @include partial.center($center: center, $align:center);

            li {
                margin: 0 partial.$margin;

                a {
                    color: partial.$dark;
                    font-family: partial.$font;
                    font-weight: bold;
                    font-size: partial.$font-medium;
                    text-decoration: none;
                    transition: .1s ease-in-out;
                }

                a:hover {
                  color: partial.$cyan;
                }
            }
        }

        burger {
          display: none;
        }

        .nav-links.open {
          display: none;
        }

        .header-icons {
            font-size: 25px;
            @include partial.center($center: center, $align:center);
            i {
                margin: 0 10px;
            }

            a {
              color: partial.$dark;
              transition: .1s ease-in-out;
            }

            a:hover {
              color: partial.$cyan;
            }
        }
    }
}

/* VIDEO INTRODUKTION */

.introduction {
    background-image: url(../img/SLET\ EFTER.jpg);
    background-position: center;
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    height: 100%;
    @include partial.center($center: center, $align:center);
    background-color: partial.$dark;
    z-index: 1;
    text-align: center;

    h1 {
        color: partial.$light;
        font-family: partial.$font;
        font-weight: normal;
        font-size: partial.$font-title;
    }

    h2 {
        color: partial.$light;
        font-family: partial.$font;
        font-weight: normal;
        font-size: partial.$font-title;
    }
    
}


/* SLIDESHOW */

.slideshow {
    position: relative;
    height: 100%;
    width: 100%;

    a {
      @include partial.readbutton($border: 5px solid partial.$cyan);
      font-family: partial.$font;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 5.5em;
      transition: 0.2s ease-in-out
    }

    a:hover {
      border: 5px solid partial.$pink;
    }
}
  
  .slide {
    position: relative;
    display: none;
  }
  
  .slide-image {
    position: relative;
    display: flex;
    width: 100%;
    margin-block: 0;
    margin-inline-start: 0;
    height: 100%;
  }
  
  .slide-image img {
    width: 100%;
    object-fit: cover;
  }
  
  .slide.is-active {
    display: inline;
  }
  
  .dots-container {
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3em;
  }
  
  .dot {
    display: inline-block;
    width: 45px;
    height: 45px;
    padding: 0;
    margin: 0 0.5em;
    background-color: partial.$light;
    border-radius: 50%;
    transition: 0.2s ease;
    cursor: pointer;
  }
  
  .dot.is-active,
  .dot:hover {
    background-color: partial.$cyan;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .about {
    width: 100%;
    overflow: hidden;
    background-image: url(../img/about.jpg);
    background-position: 0 -300px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
      @include partial.readbutton($border: 5px solid partial.$cyan);
      font-family: partial.$font;
      margin: 40px 40px;
      transition: 0.2s ease-in-out;
    }

    a:hover {
      border: 5px solid partial.$pink;
    }
  }

  .services {
    width: 100%;
    overflow: hidden;
    background-image: url(../img/services.jpg);
    background-position: center;
    @include partial.center($center: center, $align:center);
    flex-direction: column;

    a {
      @include partial.readbutton($border: 5px solid partial.$cyan);
      font-family: partial.$font;
      transition: 0.2s ease-in-out;
      color: black;
      width: 10%;
    }

    h3 {
      font-family: partial.$font;
      font-size: 42px;
      margin: 0 0 10px 0;
    }

    a:hover {
      border: 5px solid partial.$pink;
    }
  }

  .text-section {
    @include partial.center($center: center, $align:center);
    flex-direction: column;
    color: partial.$light;
    text-align: center;
    font-family: "rooney-sans", sans-serif;

    h4 {
      margin: 15px 0 0 0;
      font-size: 24px;
    }

    p {
      margin: 1em 20em;
    }

    a {
      @include partial.readbutton($border: 5px solid partial.$cyan);
      font-family: partial.$font;
      transition: 0.2s ease-in-out;
      width: 10%;
      margin: 0 0 10px 0
    }

    a:hover {
      border: 5px solid partial.$pink;
    }
  }

  .quote {
    background-image: url(../img/quote.jpg);
    background-position: 0 -400px;
    @include partial.center($center: center, $align:center);
    flex-direction: column;
    color: partial.$light;
    text-align: center;
    padding: 0 30%;
    font-family: partial.$font;

    h5 {
      font-size: 24px;
      margin: 0;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0 7em;
    font-family: partial.$font;

    div {
      width: 100%;
      color: partial.$light;
    }

    .footer-left {
      @include partial.center($center: flex-start, $align:flex-start);
      flex-direction: column;

      .footer-links {
        @include partial.center($center: space-between, $align:flex-start);
        flex-direction: column;
        height: 70%;
        width: 100%;
      }

      h6 {
        font-size: 20px;
        margin: 1px 0;
      }

      a {
        color: partial.$light;
        text-decoration: none;
        transition: .2s ease-in-out;
      }

      a:hover {
        color: partial.$cyan;
      }

      a:nth-of-type(5) {
        margin: 0 0 20px 0;
      }
    }

    .footer-middle {
      @include partial.center($center: center, $align:center);
      flex-direction: column;
      height: 100%;
      margin: 1em 0 0 0;

      .socials {
        @include partial.center($center: center, $align:center);
        width: 50%;

        i {
          margin: 0 15px;
          font-size: 40px;
          color: partial.$light;
          transition: .2s ease-in;
        }

        i:hover {
          color: partial.$cyan;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;

        h5 {
          margin: 50px 0 0 0;
          font-size: 30px;
        }

        input {
          border-radius: 10px;
          border: none;
          text-align: center;
          padding: 5px 0;
          margin: 0 0 10px 0;
          font-size: 18px;
        }

        button {
        width: 50%;
        border-radius: 10px;
        border: none;
        padding: 2px 0;
        font-size: 18px;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        }

        button:hover {
          background-color: partial.$cyan;
        }

      }

      #Layer_2 {
        width: 5%;
        margin-top: 20px;
      }

      .policy {
        @include partial.center($center: center, $align:flex-end);
        width: 100%;
        margin: 20px 0 10px 0;

        a, p {
          margin: 0 10px;
          font-family: partial.$font;
          text-decoration: none;
          color: partial.$light;
          transition: .2s ease-in-out;
        }

        a:hover {
          color: partial.$cyan;
        }
      }
    }

    .footer-right {
      @include partial.center($center: space-between, $align:flex-end);
      flex-direction: column;

      div {
        margin: 0 0 20px 0;
      }     

      .navigation, .kompetencer {
        @include partial.center($center: center, $align:flex-start);
        flex-direction: column;

        h6 {
          font-size: 20px;
          margin: 0 0;
        }
  
        a {
          color: partial.$light;
          text-decoration: none;
          margin: 1px 0;
          transition: .2s ease-in-out;
        }

        a:hover {
          color: partial.$cyan;
        }
      }
    }
  }

  .bottom-footer {
    background-color: partial.$light;
    height: 100%;

    h6 {
      font-size: 16px;
      padding: 10px 0;
      margin: 0;
      text-align: center;
      font-family: partial.$font;
    }
  }

@media screen and (max-width: 750px) {

  .site {
    overflow: auto;
  }

    .site section {
      width: 100%;
    }

    header {

      nav {
        display: flex;
        overflow: hidden;

        .logo {
          img {
            height: 60px;
          }

          .finger {
            height: 55px;
          }
        }

        .header-icons {
          display: none;
        }

        .nav-links {
          display: none;
          position: absolute;
          top: 65px;
          right: 0;
          width: 100%;
          height: calc(100vh - 60px);
          background-color: partial.$dark;
          z-index: 1;
          transform: translateX(100%);
          transition: right 0.3s ease;
        }

        .nav-links.open {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-end;
          transform: translateX(0);
        }

        .nav-links li {
          margin: 20px 0;
          text-align: right;
          width: 90%;
          border-bottom: 2px solid partial.$light;
        }
      
        .nav-links li a {
          color: partial.$light;
          font-size: 24px;
          font-weight: bold;
          text-decoration: none;
          transition: color 0.2s ease-in-out;
          padding: 0 20px 0 0;
        }
      
        .nav-links li a:hover {
          color: partial.$cyan;
        }

        .burger {
          display: block;
          position: absolute;
          top: 25px;
          right: 20px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          z-index: 2;
        }
      
        .burger span {
          display: block;
          position: absolute;
          height: 4px;
          width: 100%;
          background-color: partial.$dark;
          border-radius: 4px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: all 0.2s ease-in-out;
        }
      
        .burger span:nth-child(1) {
          top: 0px;
        }
      
        .burger span:nth-child(2) {
          top: 12px;
        }
      
        .burger span:nth-child(3) {
          top: 24px;
        }
      
        .burger.open span:nth-child(1) {
          top: 12px;
          transform: rotate(45deg);
        }
      
        .burger.open span:nth-child(2) {
          opacity: 0;
        }
      
        .burger.open span:nth-child(3) {
          top: 12px;
          transform: rotate(-45deg);
      }
    }
  }

  .introduction {
    width: 100%;
  }
}
